<center>
    <br/>
<div class="card"><div class="card-body text-center">
    <h3>Contacts application</h3>
</div></div>    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contact saver</h5>
        <p class="card-text">Get started with saving your contacts online so that you can retrive anytime.</p>
        <a href="/user/login" class="btn btn-primary">Go to account</a>
      </div>
    </div>
  </div>
</div>
</center>