<div class="card">
    <div class="card-body text-center">
        <h1>CHANGE USERNAME</h1>
        <a href="/user/dashboard"><button type="button" class="btn btn-dark">Go back</button></a>
    </div>
</div>
<br />
<br />
<div class="form">
    <form action="/user/change-credentials/{{user._id}}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" value="{{user.username}}" name="username" />
            </div>
            <div class="form-group col-md-12">
                <input type="text" value="{{user.email}}" name="email" />
            </div>
            <button>Update credentials</button>
    </form>
</div>
</div>