<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/user/dashboard">Contacts app</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user/change-credentials/{{user._id}}">Change credentials</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Help</a>
        </div>
      </li>
    </div>
  </div>
  {{#if user}}
    Hello {{user.username}},
  {{/if}}
  &nbsp; &nbsp;
  <a href="/user/logout" style="text-decoration: none;">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Logout
    </button>
  </a>
</nav>
<br /><br /><br />
<div class="card-group">
  <div class="col-md-6">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">View contacts</div>
      <div class="card-body text-dark">
        <h5 class="card-text">View your saved contacts and cherish relations</h5>
        <a href="/user/view-contact" class="btn btn-primary">View contacts</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Add contacts</div>
      <div class="card-body text-dark">
        <h5 class="card-text">Save contacts to the eternity</h5>
        <a href="/user/add-contact" class="btn btn-primary">Add contacts</a>
      </div>
    </div>
  </div>

</div>