<div class="card"><div class="card-body text-center">
    <h1>USER REGISTRATION</h1>
</div></div>
<div class="login-page">
  <div class="form">
    <form action="/user/register" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
      <input type="text" placeholder="username" name="username"/>
      </div><div class="form-group col-md-6">
      <input type="text" placeholder="firstname" name="firstname"/>
      </div><div class="form-group col-md-6">
      <input type="text" placeholder="lastname" name="lastname"/>
      </div><div class="form-group col-md-6">
      <input type="password" placeholder="password" name="password"/></div>
    <div class="form-group col-md-6">
      <input type="email" placeholder="email" name="email"/></div><div class="form-group col-md-6">
      <input type="text" placeholder="phone" name="phone"/></div><div class="form-group col-md-6">
    </div>
      <button>create account</button>
      <p class="message">Already registered? <a href="/user/login">Login now.</a></p>
    </form>
  </div>
</div>

